{% extends 'homebase.html' %}

{% load static %}

{% block title %} {{ setting.title }} {% endblock title %}

{% block header %} {% include 'header.html' %} {% endblock header %} <!-- подсасывание из header.html -->

{% block body %}


    <div class="catalog">
        <div class="sub_catalog">
            <div class="logo_catalog"></div>
            <div class="filter_catalog">
                {% load mptt_tags %}
                <ul class="list_filter">

                    {% recursetree category %}
                        <li>
                            {% if node.is_leaf_node %}
                                <a href="/category/{{ node.id }}/{{ node.slug }}">{{ node.title }}</a>
                            {% else %}
                                <a href="/category/{{ node.id }}/{{ node.slug }}">{{ node.title }}</a>
                            {% endif %}
                            {% if not node.is_leaf_node %}
                                <ul class="children">
                                    {{ children }}
                                </ul>
                            {% endif %}
                        </li>
                        {#                        <li><a href="">Ткани</a></li>#}
                        {#                        <li><a href="">Карнизы</a></li>#}
                        {#                        <li><a href="">Аксессуары</a></li>#}
                        <!-- <li><a href=""></a></li> -->
                    {% endrecursetree %}

                    <li>
                        <a href="/all_products">Все товары</a>
                    </li>


                    <div class="checkbox">


                        <div class="multi_filters">

                            {% load home_tags %}
                            {#<form action="{% url 'all_products' %}" method="get" id="sortProduct">#}
                            <div class="">
                                <span>Сортировка:</span>
                                <ul style="list-style: none; padding: 0px">
                                    <li><a href="?{% param_replace order='title' %}">По алфавиту (а-я)</a></li>
                                    <li><a href="?{% param_replace order='-title' %}">По алфавиту (я-а)</a></li>
                                    <li><a href="?{% param_replace order='price' %}">По возрастанию цены</a></li>
                                    <li><a href="?{% param_replace order='-price' %}">По убыванию цены</a></li>
                                    <li><a href="?{% param_replace order='-id' %}">Сначала новые</a></li>
                                    <li><a href="?{% param_replace order='id' %}">Сначала старые</a></li>

                                </ul>

                            </div>

                            <form method="get">
                                {#                                {{ form.as_ul }}#}
                                {#                                <input type="submit"/>#}
                                {{ filter.form.as_p }}
                                <input type="submit"/>
                            </form>
                            {#                            {% for obj in filter.qs %}#}
                            {#                                {{ obj.title }} - {{ obj.price }}<br/>#}
                            {#                            {% endfor %}#}
                        </div>
                    </div>


                </ul>
            </div>
        </div>
        <div class="main_catalog">
            {% if catdata is None %}
                <div class="title_catalog">Каталог</div>
            {% else  %}
                <div class="title_catalog">{{ catdata.title }}</div>
            {% endif %}
            <div class="cart_catalog">


                <ul class="products clearfix">
                    {% for prod in page_obj %}


                        <li class="product-wrapper">
                            <a href="/product/{{ prod.id }}/{{ prod.slug }}" class="product">
                                <div class="product-photo">
                                    <img src="{{ prod.image.url }}" alt="">
                                </div>

                                <div class="product-title">{{ prod.title }}</div>

                                {% rateproduct prod.id as rate %}
                                <div class="review-rating pull-right" id="avarege_review" style="float: none; position: relative; margin: auto; width: 86%;">
                                    <i class="fa fa-star{% if rate < 1 %}-o empty{% endif %}"></i>
                                    <i class="fa fa-star{% if rate < 1.6 %}-o empty{% endif %}"></i>
                                    <i class="fa fa-star{% if rate < 2.6 %}-o empty{% endif %}"></i>
                                    <i class="fa fa-star{% if rate < 3.6 %}-o empty{% endif %}"></i>
                                    <i class="fa fa-star{% if rate < 4.6 %}-o empty{% endif %}"></i>
                                    <span> ({{ rate | floatformat }})</span>
                                </div>
                                <div class="product-price">{{ prod.price }} руб.</div>
                            </a>
                        </li>


                    {% endfor %}
                </ul>


            </div>
            <div class="pagination">
                <span class="step-links">

                    {% load home_tags %}

                    {% if page_obj.has_other_pages %}
                        <nav class="list-pages">
                            <ul>
                                {% if page_obj.has_previous %}
                                    <a href="?{% param_replace page=1 %}">&laquo; Первая</a>
                                    <span>|</span>
                                    <a href="?{% param_replace page=page_obj.previous_page_number %}">Предыдущая</a>
                                {% endif %}

                                {% for p in page_obj.paginator.get_elided_page_range %}
                                    {% if page_obj.number == p %}
                                        <li class="page-num page-num-selected">{{ p }}</li>
                                    {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                                        <li class="page-num">
                                            <a href="?{% param_replace page=p %}">{{ p }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}


                                {% if page_obj.has_next %}
                                    <a href="?{% param_replace page=page_obj.next_page_number %}">Следующая</a>
                                    <span>|</span>
                                    <a href="?{% param_replace page=page_obj.paginator.num_pages %}">Последняя &raquo;</a>
                                {% endif %}
                            </ul>
                        </nav>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>

{% endblock body %} <!-- подсасывание из body.html -->

{% block footer %} {% include 'footer.html' %} {% endblock footer %} <!-- подсасывание из footer.html -->
