{% load static %}

<footer>
    <div class="footer_cont">
        <div class="column_foot" id="logo">
            <a href="#">
                <div class="logo_foot"></div>
            </a>
        </div>
        <div class="column_foot">
            <div class="title_foot"><a href="#">Меню</a></div>
            <div class="nav_foot">
                <ul class="ul_nav_foot">
                    <li><a href="">Главная</a></li>
                    <li><a href="">Магазин</a></li>
                    <li><a href="">Услуги</a></li>
                    <li><a href="">О нас</a></li>
                    <li><a href="">Доставка</a></li>
                </ul>
            </div>
        </div>
        <div class="column_foot">
            <div class="title_foot"><a href="#">Магазин</a></div>
            <div class="nav_foot">
                <ul class="ul_nav_foot">
                    <li><a href="">Римские шторы</a></li>
                    <li><a href="">Ткани</a></li>
                    <li><a href="">Карнизы</a></li>
                    <li><a href="">Аксессуары</a></li>
                </ul>
            </div>
        </div>
        <div class="column_foot">
            <div class="title_foot"><a href="#">Контакты</a></div>
            <div class="nav_foot">
                <ul class="ul_nav_foot">
                    <li>Главная</li>
                    <li>Главная</li>
                    <li>Главная</li>
                    <li>Главная</li>
                    <li>Главная</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer_end">
        <div class="name_company">© 2021 Интернет-магазин "Салон штор Диона"</div>
        <div><a class="conf">Политика Конфиденциальности</a></div>
    </div>
</footer>

<script src="{% static '' %}js/drop.js"></script>
<script src="{% static '' %}js/burger.js"></script>
<script src="{% static '' %}js/tab.js"></script>
<script src="{% static '' %}js/slider.js"></script>