
{% load static %}

<header class="header" id="myHeader">
    <nav class="top-menu">
        <ul class="menu-main">
            <li><a href="/home">Главная</a></li>
            <li id="listDropdown" class="dropdown" onclick="myFunctionDrop()">
                <a type="btn" class="dropbtn">Магазин<img src="{% static '' %}images/down-arrow.svg" alt=""></a>
                <div id="myDropdown" class="dropdown-content">
{#                    <a href="#">Римские шторы</a>#}
{#                    <a href="#">Ткани</a>#}
{#                    <a href="">Карнизы</a>#}
{#                    <a href="#">Аксессуары</a>#}
                    {% load mptt_tags %}
                    {% recursetree category %}

                                <a href="/category/{{ node.id }}/{{ node.slug }}">{{ node.title }}</a>

                    {% endrecursetree %}
                    <a href="/all_products">Все</a>
                </div>
            </li>
            <li><a href="/services">Услуги</a></li>
            <li><a href="/about">О нас</a></li>
            <li><a href="/delivery">Доставка</a></li>

            <script>
                $(function () {
                    $("#search").autocomplete({
                        source: "/search_auto/",
                        select: function (event, ui) { //item selected
                            AutoCompleteSelectHandler(event, ui)
                        },
                        minLength: 2,
                    });
                });

                function AutoCompleteSelectHandler(event, ui) {
                    var selectedObj = ui.item;
                }
            </script>

            <li id="nav_search" class="search-container">

                <form class="form-search" action="/search/" method="post">
                    {% csrf_token %}
                    {#                    <input type="hidden" name="searchid" value="808327">#}
                    <input type="text" id="search" name="search" required placeholder="Поиск">
                    <input type="image" src="{% static '' %}images/search.svg"/>
                </form>
            </li>

            {% if user.id is not None %}
                <li><a href="/user"><i class="fa fa-user-o" aria-hidden="true"></i>{{ user.first_name }}</a></li>
                <li><a href="/logout">Выйти</a></li>
            {% else %}
                <li><a href="/login"><i class="fa fa-user-o" aria-hidden="true"></i>Войти</a></li>
                <li><a href="/signup"><i class="fa fa-user-o" aria-hidden="true"></i>Регистрация</a></li>
            {% endif %}

            {% load home_tags %}
            {% shopcartcount user.id as count %}

            <li>
                <a href="/shopcart/">
                    <div class="menu-href">
                        <div>Корзина<i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
                        <div id="numb">{{ count }}</div>
                    </div>
                </a>
            </li>
        </ul>
    </nav>
    <nav class="burger-menu">

        <div id="contain">
            <div class="bar1" id="bar"></div>
            <div class="bar2" id="bar"></div>
            <div class="bar3" id="bar"></div>
        </div>
        <ul class="menu-nav">
            <li id="nav_search" class="search-container">

                <form class="form-search" action="/search/" target="_blank" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="searchid" value="808327">
                    <input type="text" id="search" name="search" required placeholder="Поиск">
                    <input type="image" src="{% static '' %}images/search.svg"/>
                </form>
            </li>
            <li>
                <a href="/user"><img src="{% static '' %}images/human.svg" alt="" id="icon"></a>
            </li>
            <li id="li_cart">
                <a href="/shopcart/"><img src="{% static '' %}images/cart.svg" alt="" id="icon"></a>
            </li>
        </ul>
        <ul id="nav">
            <li><a href="/home">Главная</a></li>
            <li><a href="/all_products">Магазин</a></li>
            <li><a href="/services">Услуги</a></li>
            <li><a href="/about">О нас</a></li>
            <li><a href="/delivery">Доставка</a></li>
        </ul>
    </nav>
</header>