{% load static %}

<header class="header" id="myHeader">
    <nav class="top-menu">
        <ul class="menu-main">
            <li><a href="/home">Главная</a></li>
            <li id="listDropdown" class="dropdown" onclick="myFunctionDrop()">
                <a type="btn" class="dropbtn">Магазин<img src="{% static '' %}images/down-arrow.svg" alt=""></a>
                <div id="myDropdown" class="dropdown-content">
                    <a href="#">Римские шторы</a>
                    <a href="#">Ткани</a>
                    <a href="">Карнизы</a>
                    <a href="#">Аксессуары</a>
                    <a href="/all_products">Все</a>
                </div>
            </li>
            <li><a href="/services">Услуги</a></li>
            <li><a href="/about">О нас</a></li>
            <li><a href="/delivery">Доставка</a></li>

            <script>
                    $(function() {
                        $("#search").autocomplete({
                            source: "/search_auto/",
                            select: function (event, ui) { //item selected
                                AutoCompleteSelectHandler(event, ui)
                            },
                            minLength: 2,
                        });
                    });
                    function AutoCompleteSelectHandler(event, ui)
                    {
                        var selectedObj = ui.item;
                    }
                </script>

            <li id="nav_search" class="search-container">

                <form class="form-search" action="/search/" method="post">
                    {% csrf_token %}
{#                    <input type="hidden" name="searchid" value="808327">#}
                    <input type="text" id="search" name="search" required placeholder="Поиск">
                    <input type="image" src="{% static '' %}images/search.svg"/>
                </form>
            </li>
            <li>
                <a href="">Войти</a>
            </li>
            <li>
                <a href="/shopcart/">
                    <div class="menu-href">
                        <div>Корзина</div>
                        <div id="numb"></div>
                    </div>
                </a>
            </li>
        </ul>
    </nav>
    <nav class="burger-menu">

        <div id="contain">
            <div class="bar1" id="bar"></div>
            <div class="bar2" id="bar"></div>
            <div class="bar3" id="bar"></div>
        </div>
        <ul class="menu-nav">
            <li id="nav_search" class="search-container">

                <form class="form-search" action="/search/" target="_blank" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="searchid" value="808327">
                    <input type="text" id="search" name="search" required placeholder="Поиск">
                    <input type="image" src="{% static '' %}images/search.svg"/>
                </form>
            </li>
            <li>
                <a href=""><img src="{% static '' %}images/human.svg" alt="" id="icon"></a>
            </li>
            <li id="li_cart">
                <a href=""><img src="{% static '' %}images/cart.svg" alt="" id="icon"></a>
            </li>
        </ul>
        <ul id="nav">
            <li><a href="index.html">Главная</a></li>
            <li><a href="catalog.html">Магазин</a></li>
            <li><a href="">Услуги</a></li>
            <li><a href="">О нас</a></li>
            <li><a href="">Доставка</a></li>
        </ul>
    </nav>
</header>