{% extends 'homebase.html' %}
{% load home_tags %}

{% load static %}

{% block title %} {{ setting.title }} {% endblock title %}

{% block header %} {% include 'header.html' %} {% endblock header %} <!-- подсасывание из header.html -->

{% block body %}


    <div class="catalog">

        <div class="main_catalog" style="margin: 0 auto;">
            <div class="title_catalog">Результат поиска "{{ search }}"</div>
            <div class="cart_catalog">


                <ul class="products clearfix">
                    {% for prod in products %}


                        <li class="product-wrapper true {{ prod.color }} tr_ctr {{ prod.country }}">
                            <a href="/product/{{ prod.id }}/{{ prod.slug }}" class="product">
                                <div class="product-photo">
                                    <img src="{{ prod.image.url }}" alt="">
                                </div>
                                <div class="product-title">{{ prod.title }}</div>

                                {% rateproduct prod.id as rate %}
                                <div class="review-rating pull-right" id="avarege_review"
                                     style="float: none; position: relative; margin: auto; width: 86%;">
                                    <i class="fa fa-star{% if rate < 1 %}-o empty{% endif %}"></i>
{#                                    <i class="fa fa-star{% if rate < 1.6 %}-o empty{% endif %}"></i>#}
{#                                    <i class="fa fa-star{% if rate < 2.6 %}-o empty{% endif %}"></i>#}
{#                                    <i class="fa fa-star{% if rate < 3.6 %}-o empty{% endif %}"></i>#}
{#                                    <i class="fa fa-star{% if rate < 4.6 %}-o empty{% endif %}"></i>#}
                                    <span > {{ rate | floatformat }}</span>
                                    <span></span>
                                    <span >
                                        {% if prod.count_review == 0 %}
                                            (Нет отзывов)
                                        {% elif prod.count_review == 1 %}
                                            ({{ prod.count_review }} отзыв)
                                        {% elif prod.count_review > 1 %}
                                            {% if prod.count_review < 5 %}
                                                ({{ prod.count_review }} отзыва)
                                            {% else %}
                                                ({{ prod.count_review }} отзывов)
                                            {% endif %}
                                        {% endif %}
                                    </span>
                                </div>
                                <div class="product-price">{{ prod.price }} руб.</div>
                            </a>
                        </li>


                    {% endfor %}
                    {#                    <li class="product-wrapper">#}
                    {#                        <a href="" class="product">#}
                    {#                            <div class="product-photo">#}
                    {#                                <img src="{% static '' %}images/Roman-blind-front-view-Diana-M2-border.jpg" alt="">#}
                    {#                            </div>#}
                    {#                            <div class="product-title">Римская штора с карнизом Simone 4</div>#}
                    {#                            <div class="product-price">от 4220 руб.</div>#}
                    {#                        </a>#}
                    {#                    </li>#}
                    {#                    <li class="product-wrapper">#}
                    {#                        <a href="" class="product">#}
                    {#                            <div class="product-photo">#}
                    {#                                <img src="{% static '' %}images/Roman-blind-front-view-Sophie-24.jpg" alt="">#}
                    {#                            </div>#}
                    {#                            <div class="product-title">Название большое длинное 1</div>#}
                    {#                            <div class="product-price">от 4220 руб.</div>#}
                    {#                        </a>#}
                    {#                    </li>#}
                    {#                    <li class="product-wrapper">#}
                    {#                        <a href="" class="product">#}
                    {#                            <div class="product-photo">#}
                    {#                                <img src="{% static '' %}images/Roman-blind-front-view-Diana-M2-border.jpg" alt="">#}
                    {#                            </div>#}
                    {#                            <div class="product-title">Название большое длинное 1</div>#}
                    {#                            <div class="product-price">от 4220 руб.</div>#}
                    {#                        </a>#}
                    {#                    </li>#}
                    {#                    <li class="product-wrapper">#}
                    {#                        <a href="" class="product">#}
                    {#                            <div class="product-photo">#}
                    {#                                <img src="{% static '' %}images/Roman-blind-front-view-Sophie-24.jpg" alt="">#}
                    {#                            </div>#}
                    {#                            <div class="product-title">Название большое длинное 1</div>#}
                    {#                            <div class="product-price">от 4220 руб.</div>#}
                    {#                        </a>#}
                    {#                    </li>#}
                    {#                    <li class="product-wrapper">#}
                    {#                        <a href="" class="product">#}
                    {#                            <div class="product-photo">#}
                    {#                                <img src="{% static '' %}images/Roman-blind-front-view-Sophie-24.jpg" alt="">#}
                    {#                            </div>#}
                    {#                            <div class="product-title">Название большое длинное 1</div>#}
                    {#                            <div class="product-price">от 4220 руб.</div>#}
                    {#                        </a>#}
                    {#                    </li>#}
                    {#                    <li class="product-wrapper">#}
                    {#                        <a href="" class="product">#}
                    {#                            <div class="product-photo">#}
                    {#                                <img src="{% static '' %}images/Roman-blind-front-view-Diana-M2-border.jpg" alt="">#}
                    {#                            </div>#}
                    {#                            <div class="product-title">Название большое длинное 1</div>#}
                    {#                            <div class="product-price">от 4220 руб.</div>#}
                    {#                        </a>#}
                    {#                    </li>#}
                    {#                    <li class="product-wrapper">#}
                    {#                        <a href="" class="product">#}
                    {#                            <div class="product-photo">#}
                    {#                                <img src="{% static '' %}images/Roman-blind-front-view-Sophie-24.jpg" alt="">#}
                    {#                            </div>#}
                    {#                            <div class="product-title">Название большое длинное 1</div>#}
                    {#                            <div class="product-price">от 4220 руб.</div>#}
                    {#                        </a>#}
                    {#                    </li>#}
                    {#                    <li class="product-wrapper">#}
                    {#                        <a href="" class="product">#}
                    {#                            <div class="product-photo">#}
                    {#                                <img src="{% static '' %}images/Roman-blind-front-view-Diana-M2-border.jpg" alt="">#}
                    {#                            </div>#}
                    {#                            <div class="product-title">Название большое длинное 1</div>#}
                    {#                            <div class="product-price">от 4220 руб.</div>#}
                    {#                        </a>#}
                    {#                    </li>#}
                    {#                    <li class="product-wrapper">#}
                    {#                        <a href="" class="product">#}
                    {#                            <div class="product-photo">#}
                    {#                                <img src="{% static '' %}images/Roman-blind-front-view-Sophie-24.jpg" alt="">#}
                    {#                            </div>#}
                    {#                            <div class="product-title">Название большое длинное 1</div>#}
                    {#                            <div class="product-price">от 4220 руб.</div>#}
                    {#                        </a>#}
                    {#                    </li>#}
                    {#                    <li class="product-wrapper">#}
                    {#                        <a href="" class="product">#}
                    {#                            <div class="product-photo">#}
                    {#                                <img src="{% static '' %}images/Roman-blind-front-view-Diana-M2-border.jpg" alt="">#}
                    {#                            </div>#}
                    {#                            <div class="product-title">Название большое длинное 1</div>#}
                    {#                            <div class="product-price">от 4220 руб.</div>#}
                    {#                        </a>#}
                    {#                    </li>#}
                </ul>


            </div>
        </div>
    </div>

{% endblock body %} <!-- подсасывание из body.html -->

{% block footer %} {% include 'footer.html' %} {% endblock footer %} <!-- подсасывание из footer.html -->
