{% extends 'homebase.html' %}

{% load static %}

{% block title %}Отзывы{% endblock title %}

{% block header %} {% include 'header.html' %} {% endblock header %} <!-- подсасывание из header.html -->

{% block body %}





    <div class="section">


        <div class="user_profil-wrapper">
            <div id="breadcrumb">
                <div class="card-wrapper">
                    <ul class="breadcrumb" style="display: flex">
                        <li><a href="/">Главная</a></li>
                        <li class="">/</li>
                        <li class="">Профиль</li>
                    </ul>
                </div>
            </div>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <!-- row -->
            <div class="row">


                <div class="user_panel">
                    {% include "user_panel.html" %}
                </div>


                <div class="user_profil">

                    <div class="profil_wrapper">


                        <div class="user_title">
                            <p>Ваши отзывы</p>
                        </div>

                        <table class="shopcart_product_table">
                            <thead>
                            <tr>
                                <th class="h-product">Товар</th>
                                <th class="h-title"></th>
                                <th class="h-price">Дата</th>
                                <th class="h-comment">Отзыв</th>
                                <th class="h-total">Ретинг</th>
                                <th class="h-delete"></th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for rs in comments %}

                                <tr>
                                    <td class="b-img_product">
                                        <img src="{{ rs.product.image.url }}" alt="">
                                    </td>
                                    <td class="b-title">
                                        <a href="/product/{{ rs.product.id }}/{{ rs.product.slug }}">{{ rs.product }}</a>
                                    </td>
                                    <td class="b-price">
                                        {{ rs.create_at | date:"d-m-Y" }}
                                    </td>
                                    <td class="b-comment">
                                        {{ rs.comment }}
                                    </td>
                                    <td class="b-total">
                                        {{ rs.rate }}
                                    </td>
                                    <td class="h-delete__profile">
                                        <a class="primary-btn" href="/user/deletecomment/{{ rs.id }}"
                                           onclick="return confirm('Ваш отзыв будет удалён! Вы уверены?')"> Удалить </a>
                                    </td>
                                </tr>

                            {% endfor %}

                            </tbody>
                        </table>

                    </div>

                </div>


            </div>
            <!-- /row -->
        </div>

    </div>

{% endblock body %} <!-- подсасывание из body.html -->

{% block footer %} {% include 'footer.html' %} {% endblock footer %} <!-- подсасывание из footer.html -->

