{% extends 'homebase.html' %}

{% load static %}

{% block title %} Профиль {% endblock title %}

{% block header %} {% include 'header.html' %} {% endblock header %} <!-- подсасывание из header.html -->

{% block body %}

    <div id="breadcrumb">
        <div class="card-wrapper">
            <ul class="breadcrumb" style="display: flex">
                <li><a href="/">Главная</a></li>
                <li class="">/</li>
                <li class="">Профиль</li>
            </ul>
        </div>
    </div>



    <div class="section">

        <div class="user_profil-wrapper">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <!-- row -->
            <div class="row">


                <div class="user_panel">
                    {% include "user_panel.html" %}
                </div>


                <div class="user_profil">

                    <div class="profil_wrapper">
                        <div class="user_title">
                            <p>Изменения данных профиля</p>
                        </div>

                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ user_form.as_p }}
                                {{ profile_form.as_p }}
                            </div>
                            <div class="form-group">
                                <button class="primary-btn" type="submit">Подтвердить</button>
                            </div>
                        </form>


                    </div>

                </div>


            </div>
            <!-- /row -->
        </div>

    </div>

{% endblock body %} <!-- подсасывание из body.html -->

{% block footer %} {% include 'footer.html' %} {% endblock footer %} <!-- подсасывание из footer.html -->