{% extends 'homebase.html' %}

{% load static %}

{% block title %} Оформление заказа {% endblock title %}

{% block header %} {% include 'header.html' %} {% endblock header %} <!-- подсасывание из header.html -->

{% block body %}

    <div id="breadcrumb">
        <div class="card-wrapper">
            <ul class="breadcrumb" style="display: flex">
                <li><a href="/">Главная</a></li>
                <li class="">/</li>
                <li class="">Оформление заказа</li>
            </ul>
        </div>
    </div>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="shopcart-wrapper">
        <div class="shopcart">
            <div class="shopcart-title">
                <p>Оформление заказа</p>
            </div>
            <form action="" method="post">
                {% csrf_token %}
                <div class="shopcart_table">

                    <div class="shopcart_product">

                        <div class="order_form">
                            <p><label for="id_first_name">Имя:</label>
                                <input type="text" name="first_name" value="{{ user.first_name }}" class="input"
                                       maxlength="10" required id="id_first_name">
                            </p>
                            <p><label for="id_last_name">Фамилия:</label>
                                <input type="text" name="last_name" value="{{ user.last_name }}" class="input"
                                       maxlength="10" required id="id_last_name">
                            </p>
                            <p><label for="id_city">Город:</label>
                                <input type="text" name="city" class="input" id="id_city" value="{{ profile.city }}">
                            </p>
                            <p><label for="id_address">Адрес:</label>
                                <input type="text" name="address" value="{{ profile.address }}" class="input"
                                       maxlength="150" id="id_address">
                            </p>
                            <p><label for="id_email">Email:</label>
                                <input type="text" name="email" value="{{ profile.email }}" class="input"
                                       maxlength="100"
                                       id="id_email">
                            </p>
                            <p><label for="id_phone">Телефон:</label>
                                <input type="text" name="phone" value="{{ profile.phone }}" class="input" maxlength="20"
                                       id="id_phone">
                            </p>

                        </div>

                        <div class="shopcart_form">
                            <div class="shopcart-title2" style="font-size: 24px">
                                <p>Список товаров</p>
                            </div>
                            <table class="shopcart_product_table">
                                <thead>
                                <tr>
                                    <th class="h-product">
                                        Товар
                                    </th>
                                    <th class="h-title">

                                    </th>
                                    <th class="h-price">
                                        Цена
                                    </th>
                                    <th class="h-count">
                                        Кол-во
                                    </th>
                                    <th class="h-total">
                                        Итого
                                    </th>
                                    <th class="h-delete">

                                    </th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for rs in shopcart %}

                                    <tr>
                                        <td class="b-img_product">
                                            <img src="{{ rs.product.image.url }}" alt="">
                                        </td>
                                        <td class="b-title">
                                            <a href="/product/{{ rs.product.id }}/{{ rs.product.slug }}">{{ rs.product }}</a>
                                            <ul>
                                                <li><span>Ширина: {{ rs.width }}</span></li>
                                                <li><span>Высота: {{ rs.height }}</span></li>
                                            </ul>
                                        </td>
                                        <td class="b-price">
                                        <span id="price">{{ rs.price }} <i class="fa fa-rub"
                                                                                   aria-hidden="true"></i></span>
                                        </td>
                                        <td class="b-count">
                                            <p>{{ rs.quantity }}</p>
                                        </td>
                                        <td class="b-total">
                                        <span id="price">{{ rs.amount }} <i class="fa fa-rub"
                                                                            aria-hidden="true"></i></span>
                                        </td>
{#                                        <td class="b-delete">#}
{#                                            <a href="/order/deletefromcart/{{ rs.id }}"#}
{#                                               onclick="return confirm('Удалить! Вы уверены?')">#}
{#                                                <button class=""><i title="Удалить из корзины" class="fa fa-trash-o"#}
{#                                                                    aria-hidden="true"></i></button>#}
{#                                            </a>#}
{#                                        </td>#}
                                    </tr>

                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <aside class="block_final_price">
                        <div class="block_final_price_title">
                            <p>Доставка</p>
                        </div>
                        <div class="block_final_price_count">
                            <ul style="padding-left: 0px; list-style: none; width: 100%" >
                                <li style="display: flex; justify-content: space-around"><input type="radio" name="delivery" id="" checked value="200"> <p style="width: min-content; width: -moz-min-content">Курьерской службой 200р.</p></li>
                                <li style="display: flex; justify-content: space-around"><input type="radio" name="delivery" id="" value="0"> <p style="width: min-content; width: -moz-min-content">Самовывоз бесплатно</p></li>
                            </ul>
                        </div>
                        <div class="block_final_price_title">
                            <p>Сумма заказа</p>
                        </div>
                        <div class="block_final_price_final">
                            <span id="price">{{ total }}<i class="fa fa-rub" aria-hidden="true"></i></span>
                        </div>
                        <div class="block_final_price_title">
                            <p>Оплата</p>
                        </div>
                        <div class="block_final_price_count">
                            <ul>
                                <li><input type="radio" name="pay" id="" checked> <span>Онлайн</span></li>
                                <li><input type="radio" name="pay" id=""> <span>Карта</span></li>
                                <li><input type="radio" name="pay" id=""> <span>Наличными</span></li>
                            </ul>
                        </div>
                        <div class="block_final_price_button">
                            <a href="">
                                <button type="submit" class="btn_checkout">Перейти к оплате</button>
                            </a>
                        </div>

                    </aside>

                </div>
            </form>
        </div>
    </div>

{% endblock body %} <!-- подсасывание из body.html -->

{% block footer %} {% include 'footer.html' %} {% endblock footer %} <!-- подсасывание из footer.html -->