.card-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 95%;
}

.porduct_content {
    display: flex;
    justify-content: space-around;
}

/* Картинки */

.product_imgs {
    width: 40%;
}

.card-wrapper img {
    width: 100%;
    display: block;
}

.img-display {
    position: relative;
    overflow: hidden;
    display: flex;
}

#prev_card, #next_card {
    position: absolute;
    cursor: pointer;
    color: #00000062;
    font-weight: bold;
    font-size: 1.2rem;
    transition: 0.6s ease;
    background: #ffffff00;
    top: 50%;
    right: 0%;
    border: none;
    height: 100%;
    width: 12%;
    transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
}

#prev_card {
    left: 0%;
}

#prev_card:hover, #next_card:hover {
    color: #ffffffc7;
    background: #00000048;
}

.img-showcase {
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}

.img-showcase img {
    min-width: 100%;
}

.img-select {
    display: flex;
    /*justify-content: space-between;*/
}

.img-select :last-child{
    margin-right: 0px;
}

.img-item {
    width: 24%;
    margin-top: 1%;
    margin-right: 1%;
}


.img-item .active {
    opacity: 0.5;
}

/* .img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
} */

.img-item:hover {
    cursor: pointer;
    opacity: 0.5;
}

/* Описание товара */

.product_descriptions {
    width: 40%;
}

.product_title {
    font-size: 40px;
    font-weight: 800;
    margin-top: -10px;
}

/*  Параметры  */

.parameters {
    width: 100%;
}

.min_description {
    padding: 20px;
    padding-left: 0;
    font-size: 16px;
}

.parameter {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.param_title {
    font-size: 20px;
    align-self: center;
}

#lining {
    align-self: center;
}

.choices * {
    box-sizing: border-box;
    align-self: center;
}

.results {
    text-align: center;
}

.results input {
    border: solid 1px #8d9595;
    border-radius: 5px;
    text-align: center;
    width: 75px;
    height: 25px;
    font-size: 15px;
    letter-spacing: .3px;
    color: #000000;
    font-weight: 500;
    font-family: 'RUBIK';
}

.results input::-webkit-outer-spin-button,
.results input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.results input[type='number'] {
    -moz-appearance: textfield;
}


.choice {
    display: flex;
    justify-content: space-between;
}

.limit {
    font-size: 15px;
    letter-spacing: .3px;
    color: #000000;
    font-weight: 500;
    font-family: 'RUBIK';
}

.bt_minus, .bt_plus, .quantity {
    color: #2e2e2e;
    height: 30px;
    width: 30px;
    padding: 0;
    margin: 0px 10px;
    border-radius: 8px;
    border: 2px solid #BFE2FF;
    background: #2e2e2e;
    cursor: pointer;
    outline: 0;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.2);
}

.bt_minus:hover, .bt_plus:hover {
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.2);
}

.bt_minus svg, .bt_plus svg {
    stroke: #BFE2FF;
    stroke-width: 4;
    transition: 0.5s;
    margin: 4px;
}

.bt_minus:hover svg, .bt_plus:hover svg {
    stroke: #FFF;
}

.range-container {
}

.range-container input {
    width: 190px;
}

#lining {
    margin-top: 30px;
}

.select_div {
    align-self: center;
    padding-right: 5%;
}

.select {
}

#selectvalue {
    cursor: pointer;
    width: 300px;
    height: 35px;
    border: solid 1px #8d9595;
    /* border-radius: 5px; */
    text-align: center;
    font-size: 17px;
    letter-spacing: .3px;
    color: #000000;
    font-weight: 400;
    font-family: 'RUBIK';
}

option {
    font-size: 16px;
    font-weight: normal;
    display: block;
    white-space: nowrap;
    /* min-height: 1.2em; */
    padding: 0px 2px 1px;
    /* margin: 10px 0; */
}

/*  Цена   */

.price {
    margin: 30px 0;
    display: flex;
    line-height: 1;
}

.price p {
    margin-left: .3rem;
    font-size: 18px;
    align-self: flex-end;
}

.price #price {
    margin-left: .5rem;
    font-size: 30px;
    align-self: flex-end;
}

.btn_add {
    cursor: pointer;
    width: 200px;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    background: #ffffff;
    border: solid 2px rgb(53, 53, 53);
    border-radius: 5px;
    box-shadow: 0px 0px 9px 0px rgba(87, 87, 87, 0.336);
}

.btn_add:hover {
    background: #44b94a33;
}

.fa {
    color: #000000bb;
    margin-right: 8px;
}

.fa-cart-plus:before {
    font-size: 18px;
}

/*   Табы продукта   */

.tab-order {
    width: 100%;
    background-color: #ffffff;
}

/* Вкалдки */

.tabs {
    width: 86%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
}

.tabs__nav {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    background: #ffffff;
    margin: 0;
    border-bottom: 1px solid #000000;
}

.tabs__link {
    padding: 0.5rem 0.75rem;
    text-decoration: none;
    color: #0000007a;
    text-align: center;
    flex-shrink: 0;
    flex-grow: 1;
    border: none;
    border-bottom: none;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    transition: color 0.1s ease-in-out;
}

.tabs__link_active {
    background: rgb(255, 255, 255);
    cursor: default;
    color: #000000;
    border: none;
    border-bottom: none;
}

.tabs__link:not(.tabs__link_active):hover, .tabs__link:not(.tabs__link_active):focus {
    color: #000000;
}

.tabs__content {
    padding: 1rem;
    padding-top: 3rem;
}

.tabs__pane {
    display: none;
}

.tabs__pane_show {
    display: flex;
    justify-content: flex-start;
}

.tab-img {
    background: #202020;
    min-width: 30%;
    height: 350px;
    margin-right: 1rem;
}

.tab-texts {
    padding: 2rem;
    font-size: 18px;
}

.tab-title {
    font-size: 25px;
    margin-bottom: 2rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: #000000;
}

@media (max-width: 480px) {
    .tabs__content .tab-img {
        display: none;
    }
}

.tabs__pane .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.col-md-6 {
    width: 47%;
}

.single-review {
    margin-bottom: 30px;
}

.review-heading {
    display: flex;
    position: relative;
}

.review-heading a {
    text-decoration: none;
    color: #525252;
}


.fa-user-o {
    margin: 0px;
    padding-right: 3px;
}

.single-review .clock {
    margin-left: 10px;

}

.fa-clock-o {
    margin: 0;
    padding-right: 3px;
}

.pull-right {
    position: absolute;
    right: 0px;
}

.product_descriptions .pull-right {
    right: auto;
}

.product_descriptions .pull-right .fa:before {
    font-size: 20px;
}

.pull-right i {
    margin: 0px;
    padding: 0px;
    padding-left: 4px;
}

.pull-right .fa:before {
    content: "\f005";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    color: #FFB656;
    font-size: 16px;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
}

.pull-right .fa-star-o:before {
    content: "\f006";
    color: #d1d1d1;
}

.review-body {
    margin-top: 15px;
}

.reviews-pages {
    display: flex;
    display: none;
    justify-content: center;
    list-style: none;
}

.reviews-pages li {
    padding: 0 10px;
}

.reviews-pages .active {
    background-color: #ffffff00;
    border: solid 1px black;
}

.reviews-pages a {
    text-decoration: none;
    color: #000000;
    size: 18px;
}


.col-md-6 .tab-title {
    font-size: 23px;
    /* text-transform: uppercase; */
    margin: 0;
    margin-bottom: 15px;
}

.col-md-6 p {
    font-size: 14px;
    margin-bottom: 15px;
}

.col-md-6 form {
    display: block;
    margin-top: 0em;
}

.review-form {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-group {
    margin-bottom: 15px;
}

.form-group .input {
    width: 100%;
    height: 40px;
    padding: 0px 15px;
    border: none;
    background-color: transparent;
    -webkit-box-shadow: 0px 0px 0px 1px #dadada inset, 0px 0px 0px 5px transparent;
    box-shadow: 0px 0px 0px 1px #dadada inset, 0px 0px 0px 5px transparent;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.form-group textarea.input {
    padding: 15px;
    margin: 0px;
    /*     width: 554px; */
    height: 138px;
    border: none;
    background-color: transparent;
    -webkit-box-shadow: 0px 0px 0px 1px #dadada inset, 0px 0px 0px 5px transparent;
    box-shadow: 0px 0px 0px 1px #dadada inset, 0px 0px 0px 5px transparent;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.input-rating {
    /* display: flex; */
}

.input-rating .tab-title {
    font-size: 18px;
    font-weight: 500;
    margin-right: 5px;
}

.stars {
    display: inline-block;
    vertical-align: middle;
}

.review-form .input-rating .stars input[type="radio"] {
    display: none;
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

.review-form .input-rating .stars label {
    float: right;
    cursor: pointer;
    padding: 0px;
    padding-right: 6px;
    margin: 0px;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.fa-star-o:before {
    content: "\f006";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    color: #d1d1d1;
    font-size: 18px;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
}

.stars input:checked ~ label:before, .stars input:hover ~ label:before {
    content: "\f005";
    color: #FFB656;
}

form .primary-btn {
    cursor: pointer;
    width: 200px;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    background: #ffffff;
    border: solid 2px #353535;
    border-radius: 2px;
    box-shadow: 0px 0px 1px 0px #35353521;
}

form .primary-btn:hover {
    background: #353535;
    color: #FFF;
    border: solid 2px #353535;
    border-radius: 2px;
    box-shadow: 0px 0px 1px 0px #35353521;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
}