@import "multi-filter-range.css";

body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: #202020;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input, button, a{
    cursor: pointer;
}

*, *::after, *::before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

/* Header start*/

header {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #f3f3f3;
}

.menu-main {
    list-style: none;
    padding: 0 30px;
    margin: 0;
    text-align: center;
    position: relative;
}

.menu-main li {
    display: inline-block;
}

.menu-main a {
    text-decoration: none;
    line-height: 1.6;
    letter-spacing: 1px;
    display: inline-block;
    margin: 0px;
    padding: 14.7px 40px;
    color: #464646;
    transition: .3s linear;
    position: relative;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
}

.menu-main li.current, .menu-main li:hover, .menu-main li:active {
    background-color: #ffffffc2;
    transition: .3s linear
}

.form-search {
    position: relative;
    display: inline-block;
    margin: 0 20px;
    /* display:flex ; */
    border: 2px solid #8a8a8ac2;
    border-radius: 15px;
    background: #ffffff7c;
}

.form-search input[name="search"] {
    /* поле поиска */
    width: 160px;
    height: 25px;
    /*   line-height: 32px; */
    border: none;
    outline: none;
    box-shadow: none;
    padding: 0 0 0 6px;
    background: transparent;
    font: 13px Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #6E7074;
    transition: all .2s ease-out;
}

/* .form-search input[type="search"]:focus {
  width: 160px;
  color: #424242;
} */

.form-search input[type="image"] {
    /* картинка лупы */
    margin-bottom: 3px;
    margin-right: 4px;
    height: 20px;
    vertical-align: bottom;
}

.menu-href {
    display: flex;
}

.menu-main #nav_search:hover {
    background-color: #f3f3f3;
}

/* Выпадающее меню начало */

.dropbtn {
    cursor: pointer;
    /* outline: none;
    display: flex; */
}

.dropbtn img {
    position: absolute;
    width: 10px;
    height: 18px;
    margin-left: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FCFCFC;
    width: 150%;
    z-index: 1;
}

.dropdown-content a {
    color: #272727;
    display: block;
}

.dropdown-content a:hover {
    color: #8a7260;
}

.show {
    display: block;
}

/* Выпадающее меню конец */

.menu-main a .fa {
    padding-right: 3px;
    font-weight: 800;
}

.menu-href {
    position: relative;
}

.menu-href i {
    padding-left: 2px;
    font-size: 14px;
    font-weight: 100;
    line-height: normal;
}

#numb {
    position: absolute;
    align-self: center;
    top: -4px;
    right: 1px;
    font-size: 10px;
    font-weight: 900;
    line-height: normal;
    width: 14px;
    height: 14px;
    border: solid 1px rgb(251, 251, 251);
    border-radius: 20px;
    background: rgb(251, 251, 251);
    box-shadow: 0px 0px 4px .1px rgba(0, 0, 0, 0.452);
}

/* Бургер начало*/

header .burger-menu {
    display: none;
}

#contain {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    left: 10px;
    top: 4px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    /* background-color: #a7968ad8; */
    background-color: #beafa5;
    margin: 6px 0;
    transition: 0.2s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

#contain:hover #bar {
    background: #bba89b;
}

.menu-nav {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin: 9px 0;
}

.menu-nav li {
    height: 29px;
}

#nav {
    overflow: hidden;
    background: #f3f3f3;
    height: 0;
    max-height: 0px;
    list-style-type: none;
    padding-left: 0;
    -webkit-transition: linear 1s;
    transition: linear 1s;
    margin: 0;
    /*  margin-top: 18px; */
}

#nav.open {
    height: auto;
    max-height: 500px;
    -webkit-transition: linear 1s;
    transition: linear 1s;
}

#nav li {
    float: none;
    text-align: left;
    text-decoration: none;
    width: 100%;
    margin: 0;
    -webkit-transition: linear 1s;
    transition: linear 1s;
}

#nav li a {
    text-decoration: none;
    color: #2e2a28e3;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    padding: 10px;
    border-bottom: 1px solid #2e2a282f;
    display: block;
    margin: 0;
    -webkit-transition: linear 1s;
    transition: linear 1s;
}

/* Бургер конец */

@media (max-width: 1300px) {
    .menu-main a {
        padding: 14.7px 25px;
    }
}

@media (max-width: 1100px) {
    .menu-main a {
        padding: 14.7px 14px;
        font-size: 11px;
    }
}

@media (max-width: 900px) {
    .top-menu .menu-main li {
        display: block;
    }
}

@media (max-width: 900px) {
    /*@media(max-width:1009px) {*/
    header .top-menu {
        display: none;
    }

    header .burger-menu {
        display: block;
    }

    .form-search {
        position: relative;
        display: inline-block;
        margin: 0 10px;
    }

    .form-search input[name="search"] {
        width: 30vw;
    }

    #icon {
        width: 40px;
        height: 29px;
        /* margin-right: 15px; */
    }

    #li_cart {
        margin-right: 3vw;
        margin-left: 1vw;
    }
}

/* Header end */

/* Intro start */

.intro {
    width: 100%;
    height: 100vh;
    max-height: 910px;
}

.intro-container {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.elements {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.logo {
    width: 100%;
    height: 100%;
    margin-top: 20%;
    background: url('../images/НАЗВАНИЕ.svg');
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 1vw;
}

.element {
    width: 100%;
    height: 100%;
    margin-bottom: 20%;
    background: url('../images/Group6.png');
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 1vw;
}

.img {
    margin-left: 7%;
    width: 60%;
    /**/
    height: 100%;
    background: url('../images/са1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (min-width: 1900px) {
    .intro-container {
        max-width: 80vw;
    }
}

@media (max-width: 768px) {
    .intro {
        max-height: 700px;
    }
}

@media (max-width: 480px) {
    .intro {
        max-height: 450px;
    }

    .intro-container .img {
        display: none;
    }

    .intro-container .elements {
        width: 90%;
        margin: auto;
        padding-right: 10px;
    }

    .elements .logo {
        margin-left: 0px;
    }
}

/* Intro end */

/* Main start */

.main-page {
    width: 100%;
    /* height: 300vh; */
}

.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
}

/* Страница новинок начало*/

.new-page {
    width: 100%;
    /* height: 100vh; */
    background-color: #fafafa;
}

.new-page-cont {
    width: 100%;
    max-width: 1200px;
    /* height: 100%; */
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Титульник новинок начало */

.new-page-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.new-page-title div {
    width: 100%;
}

.new-page-title p {
    font-size: 30px;
}

.hr-line {
    padding: 0;
    margin: 24px 30px;
    height: 0;
    border: none;
    border-top: 2px solid #9E7658;
}

/* Титульник новинок конец */

/* Продукты начало */

.products {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin: 25px auto;
    margin-bottom: 30px;
    width: 96%;
    flex-wrap: wrap;
}

.product-wrapper {
    display: block;
    width: 23.5%;
    transition: width .2s;
    margin: 10px 0;
}

@media (max-width: 768px) {
    .product-wrapper {
        width: 44%;
        margin: 10px auto;
    }
}

@media (max-width: 480px) {
    .product-wrapper {
        width: 86%;
        margin: 10px auto;
    }
}

.product {
    display: block;
    /* border: 1px solid #eeeeee; */
    /* border-radius: 5px; */
    position: relative;
    background: #fff;
    /* margin: 0 20px 20px 0; */
    text-decoration: none;
    color: #474747;
    z-index: 0;
    height: auto;
    box-shadow: 0 0 7px 1px #4242423a;
    transition: transform .5s ease-out;
}

.product-photo {
    /* width: 90%;
    margin: auto; */
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
}

.product-photo img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    padding: 13px;
    margin: auto;
    /* transition: transform .5s ease-out; */
}

.product:hover /* .product-photo img */
{
    transform: scale(1.046);
}

.product-title {
    margin: auto;
    width: 82%;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: .6px;
}

.product-price {
    margin: auto;
    padding: 5px 0;
    width: 82%;
    font-size: 17px;
}


/* Продукты конец */

/* Кнопка посмотреть все начало */

.show-all {
    text-align: center;
}

.button-all {
    background-color: #a87f5f;
    border: none;
    color: white;
    padding: 12px 28px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

.button-all:hover {
    background: #a87f5fdc;
    transition: .3s;
    cursor: pointer;
}

.button-all:focus {
    outline: none;
    box-shadow: 0 0 0 4px #5555558f;
}

/* Кнопка посмотреть все конец */

/* Страница новинок конец*/

/* Страница заказа начало*/

.tab-order {
    width: 100%;
    background-color: #ffffff;
}

/* Вкалдки начало*/

.tabs {
    width: 86%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
}

/* .tabs {
  border: 1px solid lightgray;
} */

.tabs__nav {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    background: #ffffff;
    margin: 0;
    /* border-bottom: 1px solid #d3d3d3; */
}

.tabs__link {
    padding: 0.5rem 0.75rem;
    text-decoration: none;
    color: #0000007a;
    text-align: center;
    flex-shrink: 0;
    flex-grow: 1;
    border: solid 1px #d3d3d300;
    /*border-radius: -20px;*/
    border-bottom: solid 1px #9E7658;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    transition: color 0.3s ease-in-out;
}

.tabs__link_active {
    background: rgb(255, 255, 255);
    cursor: default;
    color: #000000;
    border: solid 1px #9E7658;
    border-bottom: solid 1px #9e765800;
    /*   border-top-left-radius: 3px;
      border-top-right-radius: 3px; */
}


.tabs__link:not(.tabs__link_active):hover, .tabs__link:not(.tabs__link_active):focus {
    color: #000000;
}

.tabs__content {
    padding: 1rem;
    padding-top: 3rem;
}

.tabs__pane {
    display: none;
}

.tabs__pane_show {
    display: flex;
    justify-content: flex-start;
}

/* Вкладки конец */

.tab-img {
    background: #202020;
    min-width: 30%;
    height: 350px;
    margin-right: 1rem;
}

.tab-texts {
    padding: 2rem;
    font-size: 18px;
}

.tab-title {
    font-size: 25px;
    margin-bottom: 2rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: #000000;
}

@media (max-width: 480px) {
    .tabs__content .tab-img {
        display: none;
    }
}

/* Страница заказа конец*/

/* Страница запроса начало*/

.page-request {
    width: 100%;
    background: #fafafa;
}

.request-cont {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Картинки начало */

.request-img {
    width: 40%;
}

/* Slideshow container */

.slideshow-container {
    width: 100%;
    position: relative;
    /* height: 98.6%; */
}

.mySlides {
    width: 100%;
    display: none;
}

.mySlides img {
    object-fit: contain;
    /*  min-height: 800px; */
    min-height: 330px;
    width: 100%;
}

/* Next & previous buttons */

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 43%;
    /* height: 100%; */
    width: auto;
    padding: 50px 25px;
    margin-top: -30px;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;

}

/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover, .next:hover {
    background-color: #f1f1f1b6;
    color: #272727;
}

/* The dots/bullets/indicators Точки / маркеры / индикаторы */

.current_Slide {
    cursor: pointer;
    position: absolute;
    width: 100%;
    margin-top: -35px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 3px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation Затухающая анимация */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
    .prev, .next, .text {
        font-size: 11px
    }
}


/* Картинки конец */

/* Оставить заявку начало*/

.form-request {
    width: 40%;
    height: 10%;
    border: solid 2px #9E7658;
    border-radius: 8px;
    background: #fdfdfd;
    align-self: center;
}

.form-request textarea {
    width: 100%;
    border: solid #d3d3d3 1px;
    border-radius: 4px;
    background: #ffffff;
}

#form_message {
    width: 70%;
    margin: 0 auto;
}

#form_message label{
    margin-top: 5px;
}

#form_message h2 {
    margin-top: 4%;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    letter-spacing: 1px;
    color: #000000;
    font-weight: 400;
}

.request_titles {
    margin-top: 5%;
}

#form_message input {
    width: 100%;
    height: 2.3rem;
    border: solid #d3d3d3 1px;
    border-radius: 4px;
    background: #ffffff;
    margin-bottom: 5px;
}

#form_message p {
    width: 50%;
    margin: 9% auto;
    margin-bottom: 5%;
}

#form_message #submit {
    height: 2.5rem;
    background-color: #a87f5f;
    border: none;
    color: white;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}


@media (max-width: 768px) {
    .request-cont {
        width: 95%;
    }

    .request-img {
        width: 50.5%;
    }

    .form-request {
        width: 40%;
        margin-top: 0;
    }
}

@media (max-width: 480px) {
    .request-cont {
        width: 85%;
        display: block;
    }

    .request-img {
        width: 100%;
        margin-bottom: 30px;
    }

    .form-request {
        width: 100%;
    }
}


.page-request__title {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto
}

.page-request__title div {
    width: 100%;
}

.page-request__title .answer {
    width: 50%;
}

.answer p {
    margin: 0 auto;
    font-size: 30px;
}


/* Оставить заявку конец*/

/* Страница запроса конец*/

/* Main end */

/* Footer start */

footer {
    /*  width: 100vw; */
    /* height: 100px; */
    /*   background: #ffffff; */
    background: #2e2a28;
}

.footer_cont {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #ffffff9c;
    letter-spacing: 0.5px;
}

.footer_cont #logo {
    padding: 2rem 0;
    width: 20%;
    display: block;
}

.column_foot {
    padding: 2rem 0;
    width: 20%;
}

@media only screen and (max-width: 960px) {
    .footer_cont {
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .column_foot {
        width: 40%;
        padding: 2rem 0;
    }

    .footer_cont #logo {
        width: 40%;
        padding: 2rem 0;
    }
}

@media only screen and (max-width: 660px) {
    .footer_cont {
        justify-content: center;
        flex-wrap: wrap;
    }

    .column_foot {
        width: 35%;
        padding: 1rem 0;
    }

    .footer_cont #logo {
        width: 80%;
        height: 8rem;
        padding: 0;
        /* margin: 1rem auto; */
        /* padding-left: 5vw; */
    }
}

.column_foot a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #ffffff9c;
}

.logo_foot {
    width: 100%;
    height: 60%;
    background: url('../images/НАЗВАНИЕ2.svg');
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 1.3rem;
}

.conf_foot {
    width: 100%;
    height: 40%;
}

.title_foot {
    font-size: 1.25rem;
    padding-bottom: 0.3rem;
}

.nav_foot {
}

.ul_nav_foot {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ul_nav_foot li {
    text-decoration: none;
}

.ul_nav_foot a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #ffffff9c;
}

footer a:hover {
    color: rgba(255, 255, 255, 0.904);
    transition: .3s linear
}


.footer_end {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 15px;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #ffffff9c;
    letter-spacing: 0.5px;
    flex-wrap: wrap;
}

.name_company {
    margin-right: 20px;
}

.footer_end .conf {
    cursor: pointer;
}

@media (max-width: 480px) {
    .footer_cont {
        display: block;
    }

    .column_foot {
        margin: 0 auto;
    }
}

/* Footer end */


.breadcrumb {
    list-style: none;
}


.order_form p {
    padding: 2px;
}

.order_form label {
    display: inline-block;
    width: 100px;
    font-size: 16px;
}

.order_form input {
    width: 250px;
    font-size: 16px;
}


.login-input label {
    display: inline-block;
    font-size: 16px;
}

.login-input input {
    width: 300px;
    font-size: 16px;
    border: solid 1px rgba(169, 169, 169, 0.58);
    height: 30px;
    margin-bottom: 5px;
}

.login-input #submit {
    font-size: 14px;
    display: block;
    margin: 20px auto;
    width: auto;
    min-width: 100px;
    height: 30px;
    text-align: center;
    padding: 3px 15px;
    background: #f1f1f1;
    box-shadow: 0 0 6px 0px #c5c5c514
}

.login-input {
    margin: 2px;
}

.signup_form {
    padding: 10px;
    padding-left: 26px;
}

.list-pages ul {
    list-style: none;
    display: flex;
}

.page-num, .page-selector {
    padding: 2px 5px;
}

.page-line {
    padding: 2px 0;
}

.title_filter {
    margin: 10px 0;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: .6px;
}

.multi_filters input[type=text] {
    width: 100%;
}

.multi_filters .filter_submit {
    display: flex;
}

.filter_submit input {
    cursor: pointer;
    margin: 15px auto;
    width: 120px;
    max-width: 100%;
    height: 28px;
    color: black;
    font-size: 14px;
    border-radius: 2px;
    border: solid 1px #202020;
    background-color: #fdfdfd;
}


.multi_filters ul {
    list-style: none;
    padding-left: 10px;
}


.list_sort {
    width: 96%;
    margin: 0 auto;
}

/*.list_sort span{*/
/*  display: flex;*/
/*  align-self: center;*/
/*}*/

#list_sort {
    display: flex;
    list-style: none;
    padding: 0;
    float: right;
}

#list_sort a {
    color: #3b3b3b;
    font-weight: 500;
    /*letter-spacing: .5px*/
    padding-left: 5px;

}

#list_sort i {
    color: #3b3b3b;
}

.catalog a {
    text-decoration: none;
}

.list-pages {
    display: flex;
}

.list-pages ul {
    margin: 0 auto;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: .1px
}

.page-num {
    padding: 0;
    height: 1.5rem;
    width: 1.5rem;
    align-self: center;
    text-align: center;
    border-radius: 5px;

}

.page-num-selected {
    color: #ffffff;
    text-decoration: none;
    background-color: #2e2a28ed;
    padding: 0;
    height: 1.5rem;
    width: 1.5rem;
    align-self: center;
    text-align: center;
    border-radius: 5px;
}

.list-pages a {
    color: #202020;

}

.product_title {
    display: inline-grid;
    display: -moz-inline-grid;
}

#title1 {
    padding-top: 7px;
    line-height: 1;
}

.article {
    font-size: 14px;
    color: #818181d1;
    font-weight: 400;
    padding-bottom: 10px;
}

.min_description {
    margin-top: 10px;
}

.form-group-password input {
    width: 100%;
    height: 40px;
    padding: 0px 15px;
    border: none;
    background-color: transparent;
    -webkit-box-shadow: 0px 0px 0px 1px #dadada inset, 0px 0px 0px 5px transparent;
    box-shadow: 0px 0px 0px 1px #dadada inset, 0px 0px 0px 5px transparent;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.form-group-password {
    margin-bottom: 15px;
}

